#nc-news{
    text-align: center;
    color: rgb(255, 0, 221);
}
body{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.navigation{
    width: 400px;
    margin: 10px;
    list-style-type: none;
    background-color: #ff49f6;
    display: flex; 
}
.nav-item{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-right: 1px solid #555;
    color: rgb(63, 59, 63);
    text-decoration: none;
}
.nav-item:hover {
    background-color: #f0afec;
    text-decoration: underline;
  }
#article-img{
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}
.article-list{
    list-style-type: none; 
}
.article-item{
    background-color: #f0d5ee;
    list-style-type: none; 
}

.comment-list{
    list-style-type: none; 
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
#carousel {
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

#comment{
    padding: 30px;
    margin-top: 20px;
    margin-left: 15px;
    border-color: #ff49f6;
}

#username{
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
    border-color: #ff49f6;
}

#submit-comment{
    margin-left: 200px;
    margin-top: 15px;
    background-color: #ff68f5;
    border-color: #ff49f6;
}
#submit-comment:hover{
    background-color: #f0afec;
}
#topic-title{
    text-align: center;
    color: #bd1eb5;
}
.topic-list{
    list-style-type: none; 
}
#topic-item{
    border:solid;
    border-color: #bd1eb5;
    padding: 20px;
    text-align: center;
    margin: 20px;
    background-color: #ffd5fc;
    font-size: x-large;
    color: rgb(63, 59, 63);
    text-decoration: none;
    
}
.topic-item:hover{
    background-color: #ec49e4;
}
#sort_by{
    border-color: #bd1eb5;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f0d5ee;
}
#sort_by:hover{
    background-color: #f18aec;
}
#sort-by-label{
    margin-left: 30px;
    color: #555;
}
#order-button{
    background-color: #f0d5ee;
    color: #555;
    border-color: #bd1eb5;

}
#order-button:hover{
    background-color: #f18aec;
}
#limit{
    border-color: #bd1eb5;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f0d5ee;
}
#limit-label{
    margin-left: 30px;
    color: #555;
}
#next-button{
    background-color: #f0d5ee;
    color: #353535;
    border-color: #bd1eb5;
    margin-left: 30px;
    padding: 5px 25px;
    right: 0;
    position: absolute;
    margin-right: 20px;
}
#next-button:hover{
    background-color: #f18aec;
}

#prev-button{
    background-color: #f0d5ee;
    color: #353535;
    border-color: #bd1eb5;
    left:0;
    position: absolute;
    margin-left: 50px;
    padding: 5px 25px;
}
#page-num{
    font-size: 35px;
    text-align: center;
    color: #72176d;
}
#current-username{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin-bottom: 20px;
}
#current-img{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height: 80px;
    margin-top: 30px;
}
#user-img{
    height: 80px;
}

#user-list{
    text-decoration: none;
}

#error{
    text-align: center;
    font-size: 24px;
    color: red;
    background-color: #f0d5ee;
}