#nc-news{
    text-align: center;
    color: rgb(255, 0, 221);
}
body{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.navigation{
    width: 60%;
    margin: 10px;
    list-style-type: none;
    background-color: #ff49f6;
    display: flex; 
}
.nav-item{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-right: 1px solid #555;
    color: rgb(63, 59, 63);
    text-decoration: none;
}
.nav-item:hover {
    background-color: #f0afec;
    text-decoration: underline;
  }
#article-img{
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}
.article-list{
    list-style-type: none; 
}
.article-item{
    background-color: #f0d5ee;
    list-style-type: none; 
}

.comment-list{
    list-style-type: none; 
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
#carousel {
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

#comment{
    padding: 30px;
    margin-top: 20px;
    margin-left: 15px;
    border-color: #ff49f6;
}

#username{
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
    border-color: #ff49f6;
}

#submit-comment{
    margin-left: 200px;
    margin-top: 15px;
    background-color: #ff68f5;
    border-color: #ff49f6;
}
#submit-comment:hover{
    background-color: #f0afec;
}
